<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginx</servlet-name>
        <servlet-class>com.vvp.ajt18004.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorCounter</servlet-name>
        <servlet-class>com.vvp.ajt18004.VisitorCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableGenerator</servlet-name>
        <servlet-class>com.vvp.ajt18004.TableGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.vvp.ajt18004.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculator</servlet-name>
        <servlet-class>com.vvp.ajt18004.calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>com.vvp.ajt18004.Products</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginx</servlet-name>
        <url-pattern>/loginx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.vvp.ajt18004.signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorCounter</servlet-name>
        <url-pattern>/VisitorCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableGenerator</servlet-name>
        <url-pattern>/TableGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculator</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
